* {
    margin:0;
    padding:0;
}

body { 
    background-color: #40798C;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
} 

h1 {
    color: #FFF6DA;
}


.content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 3vw;
}

.container {
    height: 80vh;
    width: 60vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/*Adujsting the content of the sccreen 
for a range of width using media queries*/
@media screen and (max-width: 520px) {
    .container {
    height: 80vh;
    width: 60vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    }
}

.image {
    min-width: max-content;
    z-index: -990;
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    top: 50px;
}


.neddle {
    background-color: black;
    width: 4px;
    height: 100px;
    z-index: 1;
    position: relative;
    top: 1rem;
    animation-name: swing;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transform-origin: top center;

}

/*Making the stick to swing using keyframes*/
@keyframes swing {
    0% {
        transform: rotate(-90deg);
        
    }

    100% {
        transform: rotate(-270deg);
        
    }
    
}

.btn {
    margin-top: 2rem;
    font-size: 1.2rem;
    border-radius: 1rem;
    padding: 0.6rem 1rem 0.6rem 1rem;
    background-color: #FF9B45;
    border: 2px solid black;
    box-shadow: 0, 0, 1rem rgba(0, 0, 0, 1);
    color: black;
}

.scoreboard {
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.score {
    padding: 1rem;
    font-size: 1.2rem;
    background-color: #DA6C6C;
    color: #fff;
    border: none;
    position: relative;
}

.pause {
    animation-play-state: paused;
}

.newGame {  
    margin-top: 1rem;
    margin-right: 13.5vw;
    font-size: 1.2rem;
    border-radius: 1rem;
    padding: 0.6rem 1rem 0.6rem 1rem;
    background-color: #9fff45;
    border: 2px solid black;
    box-shadow: 0, 0, 1rem rgba(0, 0, 0, 1);
    color: black;
    position: relative;
    left: 7vw;
}
